extends base
include mixins/video



block content 
    h1 Welcome here you will see trending videos
    input(placeholder ="What's your name")
    ul
        each potato in videos 
            +video(potato)
        else 
            li Sorry noting found