extends base

block content 
    form(method ="POST")
        input(placeholder="Title", required, type="text", name="title")
        input(placeholder="Descirption", required, type="text", name="descirption")
        input(placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags")
        input(type="submit", value ="Upload video")  