extends ../base

block content 
    if errorMessage 
        span=errorMessage
    form(method="post")
        input(placeholder="Old Password" type="password" name="oldPWD")
        input(placeholder="New Password" type="password" name="newPWD")
        input(placeholder="New Password Confirmation" type="password" name="newPWDconfirmation")
        input(type="submit" value="Change Password")